[Settings]
ShowAllProcesses=FALSE
MorePrecision=FALSE
FullCommandLine=FALSE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=750
ColumnsPositions=0;5;6;7;4;3;1;2;8;
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=0
SortType=0
WindowWidth=1180
WindowHeight=654
HandlePosition=100
ProcessTreeView=FALSE
